/.git
/.settings

# ignore lib
/lib

# ignore these extension
*.pyc

# ignore these directory
/build
/dist

# ignore scripts
/scripts/run.bat
/scripts/run.sh
/scripts/run_attacker.bat
/scripts/run_attacker.sh
/scripts/run_target.bat
/scripts/run_target.sh
